#main {
    margin-left: 5%;
    margin-right: 5%;
}

#title {
    text-align: center;
    margin: 2%;
}

.title {
    margin-top: 5%;
    margin-bottom: 5%;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

input.qtyplus {
    width: 25px;
    height: 25px;
    text-align: center;
}

.currentplayerdiv {
    margin-top: 5%;
    margin-bottom: 5%;
}

.currentplayer {
    border-radius: 8px;
    margin-left: 1%;
    border-color: black;
    background-color: cadetblue;
}

.currentplayer:hover {
    background-color: cornflowerblue;
}